.bg-img {
    background-image: url("shopping\ cart.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body {
    margin: 0;
    font-family: cursive;
    background-color: black;
}

.navigation-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease, transform 0.3 ease;
}

.navigation-link:hover {
    color: orange;
    transform: scale(1.1);
}

h5 {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 700;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: flex-end;
    }

    .navigation-link {
        margin: 8px;
    }
}