#social-media {
    background-color: black;
}

.media_link {
    padding: 1rem;
    max-width: 15rem;
    margin-left: 1rem;
    border: 2px solid orange;
    border-radius: 0.5rem;
}

.row:hover {
    transform: scale(1.1);
}

.nav-icon {
    width: 30px;
    height: 30px;
}